@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.colaborador {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    width: 262px;
    height: 269px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 5px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    background-color: #fff;
}

.colaborador .colaborador-topo {
    height: 35%;
}

.colaborador img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 15%;
}

.colaborador h4{
    color: #6278F7;
    font-size: 18px;
    margin-top: 30%;
}

.colaborador h5{
    font-size: 16px;
    margin: 0 auto;
    width: 80%;
    font-weight: 100;
    margin-top: -10px;
}